---
import TermsAndConditions from './TermsAndConditions.astro'
const { h1, h2, logo_image, bg_image, footer_image, bg_btn } = Astro.props;

/*  console.log(h1);
console.log(bg_btn);
console.log(bg_image);
console.log(h2)  */

---

<div class="content-container relative bg-cover bg-center h-screen" style={{ backgroundImage: `url(${bg_image})` }}>
    <div class="header-content pl-[8%] pt-2 2xl:pt-[8%]">
        <img width="420" height="143" title="logo" alt="logo" src={logo_image}>
        <div class="et_pb_header_content_wrapper">
            <div class="content max-w-[400px]">
                <h1 class = "text-[125px] 2xl:text-[170px] 2xl:leading-[209px] text-center font-giloryExtrabold text-white tracking-[-5.13px] drop-shadow-xl">{h1}</h1>
                <h2 class= "text-[65px] tracking-[-2.04px] leading-[83px] text-center font-giloryExtrabold text-white mt-[-50px]">{h2}</h2>
                <a class={`join-now block text-white mx-auto w-[330px] text-center text-4xl tracking-[0px] uppercase font-giloryBold py-5 px-16 rounded-[50px] ${bg_btn}`} href="#">Join Now</a>
                <a class="terms button block text-white text-center mt-5 2xl:mt-12 text-2xl tracking-normal cursor-pointer font-giloryRegular " id="desk-popup" href="#">Terms &amp; Conditions</a>
            </div>
            <TermsAndConditions />
            <div class="footer-img pr-5 absolute bottom-5">
                <img class="w-full rounded-[40px]" width="800" height="200" src={footer_image} title="Support">
            </div>
        </div>
    </div>
</div>


