---
import TermsAndConditions from './TermsAndConditions.astro'
const { h1, h2, bg_image, bg_btn, logo_image, footer_image_1, footer_image_2 } = Astro.props;
---

<div class="content-container relative bg-cover bg-center h-screen" style={{ backgroundImage: `url(${bg_image})`, height: 'calc(100vh - 70px)' }}>
    <div class="header-content mx-auto pt-[4%] text-center flex flex-col items-center px-2">
        <img width="420" height="143" title="logo" alt="logo" src={logo_image}>
        <div class="et_pb_header_content_wrapper">
            <div class="content w-full">
                <h1 class="text-[125px] leading-[209px] text-center font-giloryExtrabold text-white tracking-[-3.75px] pt-2">{h1}</h1>
                <h2 class="text-[48px] tracking-[-1.47px] leading-[60px] text-center font-giloryExtrabold text-white mt-[-60px] mb-5">{h2}</h2>
                <a class={`join-now block text-white mx-auto max-w-[300px] text-center text-3xl tracking-[0px] uppercase font-giloryBold py-5 px-10 rounded-[50px] ${bg_btn}`} href="#">Join Now</a>
            </div>
                <div class="footer-img absolute bottom-2 left-1/2 -translate-x-1/2 w-full max-w-[840px] px-2">
                    <img class= "rounded-[40px] w-full max-w-[840px] mx-auto mb-2" width="840" height="78" src={footer_image_1} title="support" alt="support">
                    <img class= "rounded-[40px] w-full max-w-[840px] mx-auto" width="840" height="78" src={footer_image_2} title="currency" alt="currency">
                    <a class="terms button block text-white text-center mt-3 text-xl tracking-normal cursor-pointer font-giloryRegular underline" id="desk-popup" href="#">Terms &amp; Conditions</a>
                </div>
                <TermsAndConditions />
        </div>
    </div>
</div>


