---
/* export const prerender = true; */
import Layout from "../layouts/Layout.astro";
import CasinoGuideSidebar from "../components/CasinoGuideSidebar.astro";
import { CasinoGuidesArticles } from "../lib/api";

const data = await CasinoGuidesArticles();
const sections = data.sectionsBasepress.edges;
---

<Layout title="Online Casino Guides">
  <div
    class="header-background bg-[url('https://slotsparadise.com/wp-content/uploads/2022/07/thebeach-guides.jpg')] bg-cover bg-center h-52 flex items-center text-white font-giloryRegular"
  >
    <div class="header-content-row w-[80%] mx-auto">
      <div class="page-title">
        <h1 class="entry-title text-2xl md:text-3xl font-giloryExtrabold mb-2">
          Test
        </h1>
      </div>
    </div>
  </div>

  <div
    class="online_casino_guide mt-10 font-giloryRegular font-semibold max-w-[1200px] mx-auto"
  >
    <div class="post-bread font-semibold my-10">
      <div>
        <p>
          <span
            ><span><a href="https://slotsparadise.com/the-beach/">Home</a></span
            > &gt;
            <span><a href="/guides/">Casino Guides</a></span>
          </span>
        </p>

        <div class="inner_container flex flex-col md:flex-row justify-between">
          <CasinoGuideSidebar />
          <div
            class="section-container w-full md:w-3/4 mt-5 md:mt-0 pl-0 md:pl-2 xl:pl-10"
          >
            <div
              class="section_block grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
            >
              {
                sections.map((section) => (
                  <div class="bg-white rounded px-5 pt-5 border border-[#f2f2f2] flex flex-col justify-between">
                    <h2 class="flex items-center">
                      <i class="fa italic block pr-2 text-lg">&#xf02d;</i>{" "}
                      <a
                        class="font-giloryExtrabold text-[#2f0536] text-lg leading-4"
                        href={section.node.uri}
                      >
                        {section.node.name}
                      </a>
                    </h2>
                    {section.node.basepress.edges.map((article) => (
                      <div class="hover:bg-[#ddd]">
                        <p class="py-2 font-giloryRegular font-semibold border-b border-dashed leading-3 flex items-start">
                          <i class="fa text-gray-400 pr-1 pt-1 block">
                            &#xf059;
                          </i>
                          <a class="text-sm" href={article.node.uri}>
                            {article.node.title}
                          </a>
                        </p>
                      </div>
                    ))}
                    <p class="pt-4 pb-2">
                      <a
                        class="py-2 block text-[#FD106A] text-sm"
                        href={section.node.uri}
                      >
                        <span>View all {section.node.count} articles</span>
                      </a>
                    </p>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
