---
//import type { GetStaticPaths } from "astro";
export const prerender = true;
import Layout from "../../layouts/Layout.astro";
import NewsPostCategory from "../../components/NewsPostCategory.astro";
import { wpquery } from "../../data/wordpress";

export async function getStaticPaths({ paginate }) {
  const data = await wpquery({
    query: `
      query GetNewsPosts {
        posts(where: { categoryName: "news" }, first: 1000) {
          edges {
            node {
              id
              title
              date
              uri
              slug
              excerpt
              featuredImage {
                node {
                  sourceUrl
                  altText
                }
              }
            }
          }
        }
      }
    `,
  });

  const allPosts = data.posts.edges; // Extract the array of posts
  //console.log(allPosts);

  return paginate(allPosts, {
    pageSize: 20,
  });
}

const { page } = Astro.props;

//console.log(page);
---

<Layout title="News">
  <div
    class="news_page_container max-w-[1440px] mx-auto w-[80%] font-giloryRegular font-semibold text-base text-[#666]"
  >
    <div>
      <div>
        <h1
          class="text-3xl sm:text-4xl text-[#ff688b] pb-3 font-medium font-giloryExtrabold"
        >
          Casino News
        </h1>
        <p>
          <span
            >Our Casino News section is your source for the latest happenings in
            the world of gambling and casinos. Stay informed on new casino
            openings, industry developments, and changes in laws and
            regulations. Discover the latest trends and innovations in the
            casino industry and get insights into winning strategies and
            tactics. From major tournament events to tips for success, Casino
            News has everything you need to stay ahead in the world of online
            gambling.</span
          >
        </p>
        <p>
          <span
            >Whether you are a seasoned gambler or just starting out, this
            section is your go-to resource for all things related to the casino
            world. Stay informed, and stay ahead of the game, with Casino News.</span
          >
        </p>
      </div>
    </div>

    <section class="news_page max-w-[1440px] mx-auto px-4 my-16">
      {
        page && page.data ? (
          page.data.map((post) => (
            <NewsPostCategory
              href={post.node.uri}
              title={post.node.title}
              body={post.node.excerpt}
              src={post.node.featuredImage.node.sourceUrl}
              alt={post.node.featuredImage.node.altText}
              excerpt={post.node.excerpt}
              slug={post.node.slug}
              uri={post.node.uri}
            />
          ))
        ) : (
          <p>No data available</p>
        )
      }

      {page && page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
      {page && page.url.next ? <a href={page.url.next}>Next</a> : null}
    </section>
  </div>
</Layout>
