---
import { Image } from "astro:assets";
import SidebarArticles from "../SidebarArticles.astro";
import { wpquery } from '../../data/wordpress';

/* const postData = await fetch("https://slotsstg.wpengine.com/graphql", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    query: `query CasinoNewsHome {
  posts(where: {categoryId: 9}, first: 4) {
    edges {
      node {
        link
        title
        excerpt
        date
        featuredImage {
          node {
            sourceUrl
          }
        }
      }
    }
  }
}`,
  }),
}).then((data) => data.json());

const posts = postData.data.posts.edges; */
//console.log(posts);

const data = await wpquery({
  query: `
  query CasinoNewsHome {
  posts(where: {categoryId: 9}, first: 4) {
    edges {
      node {
        link
        title
        excerpt
        date
        featuredImage {
          node {
            sourceUrl
          }
        }
      }
    }
  }
}
  `,
});
---

<section class="casino_news max-w-[1440px] mx-auto font-giloryRegular px-4 pb-16 pt-10">
    <div class="casino_news_title">
        <h2 class="text-[#ff688b] pb-3 font-medium font-giloryExtrabold text-3xl">Casino News</h2>
    </div>

    <div class="casino_news_blocks grid grid-cols-5 gap-12">
    <div class="casino_news_left_block col-span-5 md:col-span-3">
      {data.posts.edges.slice(0, 1).map((post: any) =>
        <div class="left_block">
            <article class="">
        <a class="mb-5" href={post.node.link}>
          <Image
            class="shadow-casinoBlock rounded-lg"
            width="825"
            height="460"
            alt={post.node.title}
            title={post.node.title}
            src={post.node.featuredImage.node.sourceUrl}
          />
        </a>

        <h4 class="text-3xl py-3 font-giloryBold text-[#ff688b]">
          <a href="href={post.node.link}">{post.node.title}</a>
        </h4>
        <p class="text-[#491957] py-2 before:content-[url('https://slotsparadise.com/wp-content/uploads/2022/03/Group-4377.png')] flex gap-2 before:inline-block before:h-full before:w-4 items-center">{post.node.date.split('T')[0]}</p>
        <div class="text-[#2f0536] font-giloryRegular font-semibold"><a class="font-giloryRegular" href={post.node.link} set:html={post.node.excerpt}></a></div>
      </article>
        </div>
  
    )}
      </div>

      <div class="casino_news_right_block col-span-5 md:col-span-2 flex flex-col gap-4">
        <SidebarArticles />
        </div>
    
    </div>

    <div class="more-casino-news-btn text-center mt-10">
      <a
        class="bg-[#a64485] inline-block text-white text-lg px-12 py-2 rounded-[25px] font-giloryExtrabold font-semibold uppercase hover:bg-[#ff93aa] cursor-pointer transition-all"
        >More News</a
      >
    </div>
      
</section>