---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const postData = await fetch("https://slotsstg.wpengine.com/graphql", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    query: `query HomePosts {
  posts(where: {in: [992, 1244, 1285, 1287, 1250, 1289, 1252, 2218]}) {
    edges {
      node {
        title
        slug
        featuredImage {
          node {
            altText
            title
            sourceUrl
          }
        }
        link
      }
    }
  }
}`,
  }),
}).then((data) => data.json());

const posts = postData.data.posts.edges;
---

<!-- Slider main container -->
<div class="swiper py-20 my-12 bg-[#eee]">

  <div class=" flex justify-between px-2 mb-4">
    <h3 class="text-[#333] text-2xl font-bold">Game Reviews</h3>
    <h3><a href="" class="text-lg font-bold text-[#1c8fdf]">More Game Reviews</a></h3>
  </div>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    {
      posts.map((post: any) => (
    <!-- Slides -->
      <article class="home-slider-article swiper-slide rounded-[3px] bg-white shadow-homePosts overflow-hidden h-[283px]">
        <a class="entry-featured-image-url mb-5" href={post.node.link}>
          <img
            class="games-img reco w-full h-[228px]"
            width="328"
            height="223"
            alt={post.node.title}
            title={post.node.title}
            src={post.node.featuredImage.node.sourceUrl}
          />
        </a>

        <h4 class="entry-title pl-5 h-[55px] leading-[55px] text-[#2f0536] font-extrabold text-[18px] whitespace-nowrap">
          <a href="">{post.node.title}</a>
        </h4>
      </article>
      ))
  }

  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>




<script is:inline>
  window.addEventListener("load", (event) => {
  console.log("page is fully loaded");
  const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,
  // Responsive breakpoints
  breakpoints: {
    // when window width is >= 320px
    320: {
      slidesPerView: 1,
      spaceBetween: 20
    },
    // when window width is >= 480px
    400: {
      slidesPerView: 2,
      spaceBetween: 30
    },

    768: {
      slidesPerView: 3,
      spaceBetween: 30
    },

    1120: {
      slidesPerView: 4,
      spaceBetween: 30
    },
    // when window width is >= 640px
    1400: {
      slidesPerView: 6,
      spaceBetween: 20
    }
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  }
})
});

  

</script>




