---
interface Props {
  title: string;
  body: string;
  href: string;
  src: string;
  alt: string;
  excerpt: string;
  slug: string;
  uri: string;
}

import { Image } from "astro:assets";

const { href, title, body, src, alt, excerpt, slug, uri } = Astro.props;
---

<article class="news_post_article flex flex-col md:flex-row gap-8 mb-16">
  <a
    href={uri}
    class="block w-full md:w-1/4 rounded-lg overflow-hidden shadow-casinoBlock"
  >
    <Image
      src={src}
      alt={alt}
      width={300}
      height={200}
      format="webp"
      style="width: 100%; object-fit: cover;"
    /></a
  >

  <div class="post-content w-full md:w-3/4">
    <div class="post-content-inner">
      <h2
        class="text-[#ff688b] pb-3 font-medium font-giloryExtrabold text-xl sm:text-2xl"
      >
        <a href={uri}> {title}</a>
      </h2>
      <p set:html={excerpt} class="text-[15px]" />
      <a
        href={uri}
        class="bg-[#a64485] inline-block text-white text-lg px-8 py-2 rounded-[25px] font-giloryExtrabold font-semibold uppercase hover:bg-[#ff93aa] cursor-pointer transition-all mt-5"
        >Read More</a
      >
    </div>
  </div>
</article>
